<.back navigate={~p"/targets"} class="left">Back to Targets</.back>

<div class="page-heading">
  Edit Target #<%= @target.id %>
  <div class="subheading">Use this form to manage target records in your database.</div>
</div>

<.target_form changeset={@changeset} action={~p"/targets/#{@target}"} />

<.back navigate={~p"/targets"} class="center">Back to Targets</.back>
