<div class="w3-container w3-margin w3-padding">
  <div class="w3-container">
    <h2>Edit LM #<%= @lm.id %></h2>
  </div>

  <.lm_form
    changeset={@changeset}
    action={~p"/lms"}
    templates_options={@templates_options}
    templates_map={@templates_map}
    client={@client}
  />
</div>
