<.back navigate={~p"/"} class={~s"left"}>Back to Home</.back>
<div class="page-heading">
  Listing LMs
</div>

<input type="text" id="search" placeholder="Search ..." />
<div id="search-results-info">
  Showing <span id="search-count"><%= length(@lms) %></span> / <%= length(@lms) %>
</div>

<div class="section">
  <.lms_table lms={@lms} />
</div>

<.back navigate={~p"/"} class={~s"center"}>Back to Home</.back>
