<.back navigate={~p"/lms"} class="back">Back to LMs</.back>

<div class="page-heading center">
  LM #<%= @lm.id %>
  <div class="subheading">This is a lm record from your database.</div>
</div>

<div class="section">
  <.lms_table lms={[@lm]} />
</div>

<.back navigate={~p"/lms"} class="back center">Back to LMs</.back>
