<div class="top-bar no-margin">
  <div>
    <div>
      <a href="/">
        Journey
      </a>
    </div>
  </div>
</div>
<main>
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
