<.back navigate={~p"/"} class={~s"left"}>Back to Home</.back>
<div class="page-heading">
  Listing Calls
</div>

<input type="text" id="search" placeholder="Search ..." />
<div id="search-results-info">
  Showing <span id="search-count"><%= length(@calls) %></span> / <%= length(@calls) %>
</div>

<div class="section">
  <.calls_table calls={@calls} />
</div>

<.back navigate={~p"/"} class={~s"center"}>Back to Home</.back>
