<.back navigate={~p"/calls"} class="back center">Back to Calls</.back>

<div class="page-heading center">
  New Call
  <div class="subheading">Use this form to manage call records in your database.</div>
</div>

<.call_form changeset={@changeset} 
  action={~p"/calls"} 
  templates_options={@templates_options}
  templates_map={@templates_map}
  client={@client}
/>

<.back navigate={~p"/calls"} class="back center">Back to Calls</.back>
