<div class="w3-container w3-margin w3-padding">
  <div class="w3-container">
    <h2>New Call</h2>
  </div>

  <.call_form
    changeset={@changeset}
    action={~p"/calls"}
    templates_options={@templates_options}
    templates_map={@templates_map}
    client={@client}
  />
</div>
