<.back navigate={~p"/calls"} class="back">Back to Calls</.back>
<div class="page-heading">
  Call #<%= @call.id %>
  <div class="subheading">This is a call record from your database.</div>
</div>

<div class="section">
  <div class="section">
    <.calls_table calls={[@call]} />
  </div>
</div>

<.back navigate={~p"/calls"} class="back center">Back to Calls</.back>
