<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:browsing_uuid]} type="text" label="Browsing uuid" />
  <:actions>
    <.button>Save Browsing</.button>
  </:actions>
</.simple_form>
