<div class="page-heading center">
  Edit Browsing <%= @browsing.id %>
  <div class="subheading">Use this form to manage browsing records in your database.</div>
</div>

<.browsing_form changeset={@changeset} action={~p"/browsings/#{@browsing}"} />

<.back navigate={~p"/browsings"} class="back center">Back to browsings</.back>
