<.header>
  New Browsing
  <:subtitle>Use this form to manage browsing records in your database.</:subtitle>
</.header>

<.browsing_form changeset={@changeset} action={~p"/browsings"} />

<.back navigate={~p"/browsings"}>Back to browsings</.back>
