<div class="w3-container">
  <h2>Device</h2>
</div>
<div class="w3-container">
  <.browsings_table browsings={[@browsing]} />
</div>

<br /><br />

<div class="w3-container">
  <h3>Visits</h3>
</div>
<div class="w3-container">
  <.visits_table visits={@browsing.visits} />
</div>
