<div class="page-heading">
  Listing Urls <span class="data-point"><span class="data">(<%= length(@urls) %>)</span></span>
  <a href={~p"/urls/new"} class="button">+ New URL</a>
</div>

<div class="section">
  <.urls_table urls={@urls} />
</div>
