<.back navigate={~p"/urls"} class="back">Back to URLs</.back>

<div class="page-heading center">
  New URL
  <div class="subheading">Use this form to manage url records in your database.</div>
</div>

<.url_form changeset={@changeset} action={~p"/urls"} />

<.back navigate={~p"/urls"} class="back center">Back to URLs</.back>
