<div class="w3-container w3-margin w3-padding">
  <div class="w3-container">
    <h2>New Client</h2>
  </div>

  <.client_form changeset={@changeset} action={~p"/clients"} users_options={@users_options} />
</div>
