<.back navigate={~p"/clients"} class={~s"left"}>Back to Clients</.back>
<div class="page-heading center">
  New Client
  <div class="subheading">Use this form to manage client records in your database.</div>
</div>

<.client_form changeset={@changeset} action={~p"/clients"} users_options={@users_options} />

<.back navigate={~p"/clients"} class={~s"center"}>Back to Clients</.back>
