.top-bar {
  margin: 1rem 0 5rem 0;
  font-size: 48px;
}

.page-heading {
  margin: 2rem 0;
  font-size: 32px;
}

a.main-link {
  display: block;
  padding: 50px 0 20px 0;
  font-size: 32px;
}

a.main-link:hover {
  text-decoration: none;
}

.data-point {
  font-size: 24px;
}