.logo {
  color: rgb(30, 127, 30);
}

a {
  /* color: #253C78; */
  color: #345995;
}

a:hover {
  text-decoration: none;
}

.top-bar {
  margin: 1rem 0 2rem 0;
  font-size: 48px;
}

.page-heading {
  margin: 2rem 0;
  font-size: 32px;
}

.page-heading-2 {
  margin: 1.5rem 0 1rem 0;
  font-size: 24px;
}

.page-heading-3 {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 18px;
}

.subheading {
  margin: 10px 0;
  font-size: 0.9rem;
}

.button {
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(22, 119, 168);
  color: white;
}

.main-link {
  display: block;
  padding: 20px 0;
  font-size: 32px;
}

.data-point {
  padding: 2px;
  font-size: 22px;
  color: black;
}

.data {
  font-size: 1.7rem;
  color: rgb(199, 43, 43);
}

dt {
  color: grey;
}

table tr:hover {
  background-color: blanchedalmond;
}

.link {
  color: rgb(9, 9, 165);
}

.small {
  font-size: 1.3rem;
  color: grey;
}

.copy {
  color: darkgrey;
}

.copy:hover {
  cursor: pointer;
  color: grey;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.container-left {
  border-right: 1px solid #ecbfbf;
}

.type-container {
  display: block;
  padding: 20px;
}

.type-container:hover {
  border: 1px solid #ff5d5d;
  background-color: #ffd4c0;
}

form label {
  width: 10%;
  padding: 0 20px;
  text-align: right;
  font-weight: bold;
}

form input {
  width: 25%;
}

form div:has(button) {
  text-align: center;
}

.center {
  text-align: center;
}

svg {
  vertical-align: text-top;
}