a:hover {
  text-decoration: none;
}

.top-bar {
  margin: 1rem 0 2rem 0;
  font-size: 48px;
}

.page-heading {
  margin: 2rem 0;
  font-size: 32px;
}

.page-heading-2 {
  margin: 1.5rem 0 1rem 0;
  font-size: 24px;
}

.page-heading-3 {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 18px;
}

.button {
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(22, 119, 168);
  color: white;
}

a.main-link {
  display: block;
  padding: 50px 0 20px 0;
  font-size: 32px;
}

.data-point {
  font-size: 24px;
}

dt {
  color: grey;
}

table tr:hover {
  background-color: blanchedalmond;
}

.link {
  color: rgb(9, 9, 165);
}

.small {
  font-size: 1.3rem;
  color: grey;
}