html,
body {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.red {
  color: var(--red);
}

.j-logo {
  font-family: Anton;
  font-size: 22px;
}

.w3-button img {
  max-width: 30px;
  border-radius: 50%;
}