@import "https://www.w3schools.com/lib/w3-colors-2021.css";

.w3-text-2021-marigold {
  color: #FDAC53 !important
}

.w3-text-2021-cerulean {
  color: #9BB7D4 !important
}

.w3-text-2021-rust {
  color: #B55A30 !important
}

.w3-text-2021-illuminating {
  color: #F5DF4D !important
}

.w3-text-2021-french-blue {
  color: #0072B5 !important
}

.w3-text-2021-green-ash {
  color: #A0DAA9 !important
}

.w3-text-2021-burnt-coral {
  color: #E9897E !important
}

.w3-text-2021-mint {
  color: #00A170 !important
}

.w3-text-2021-amethyst-orchid {
  color: #926AA6 !important
}

.w3-text-2021-raspberry-sorbet {
  color: #D2386C !important
}

.w3-text-2021-inkwell {
  color: #363945 !important
}

.w3-text-2021-ultimate-gray {
  color: #939597 !important
}

.w3-text-2021-buttercream {
  color: #EFE1CE !important
}

.w3-text-2021-desert-mist {
  color: #E0B589 !important
}

.w3-text-2021-willow {
  color: #9A8B4F !important
}