@import "https://www.w3schools.com/lib/w3-colors-highway.css";

.w3-text-highway-brown {
  color: #633517 !important
}

.w3-text-highway-red {
  color: #a6001a !important
}

.w3-text-highway-orange {
  color: #e06000 !important
}

.w3-text-highway-schoolbus {
  color: #ee9600 !important
}

.w3-text-highway-yellow {
  color: #ffab00 !important
}

.w3-text-highway-green {
  color: #004d33 !important
}

.w3-text-highway-blue {
  color: #00477e !important
}