@import "https://www.w3schools.com/lib/w3-colors-food.css";

.w3-text-food-apple {
  color: #76cd26 !important
}

.w3-text-food-aspargus {
  color: #77ab56 !important
}

.w3-text-food-apricot {
  color: #ffb16d !important
}

.w3-text-food-aubergine {
  color: #3d0734 !important
}

.w3-text-food-avocado {
  color: #87a922 !important
}

.w3-text-food-banana {
  color: #fafe4b !important
}

.w3-text-food-butter {
  color: #ffff81 !important
}

.w3-text-food-blueberry {
  color: #464196 !important
}

.w3-text-food-carrot {
  color: #e67e22 !important
}

.w3-text-food-cherry {
  color: #cf0234 !important
}

.w3-text-food-chocolate {
  color: #411900 !important
}

.w3-text-food-cranberry {
  color: #9e003a !important
}

.w3-text-food-coffee {
  color: #a6814c !important
}

.w3-text-food-egg {
  color: #fffcc4 !important
}

.w3-text-food-grape {
  color: #6c3461 !important
}

.w3-text-food-kiwi {
  color: #8ee53f !important
}

.w3-text-food-lemon {
  color: #fdff52 !important
}

.w3-text-food-lime {
  color: #bffe28 !important
}

.w3-text-food-mango {
  color: #ffa62b !important
}

.w3-text-food-mushroom {
  color: #ba9e88 !important
}

.w3-text-food-mustard {
  color: #ceb301 !important
}

.w3-text-food-mint {
  color: #c0fa8b !important
}

.w3-text-food-olive {
  color: #6e750e !important
}

.w3-text-food-orange {
  color: #f97306 !important
}

.w3-text-food-pea {
  color: #a4bf20 !important
}

.w3-text-food-peach {
  color: #ffb07c !important
}

.w3-text-food-pear {
  color: #cbf85f !important
}

.w3-text-food-pistachio {
  color: #c0fa8b !important
}

.w3-text-food-plum {
  color: #3f012c !important
}

.w3-text-food-pomegranate {
  color: #c0392b !important
}

.w3-text-food-pumpkin {
  color: #d35400 !important
}

.w3-text-food-raspberry {
  color: #b00149 !important
}

.w3-text-food-saffron {
  color: #feb209 !important
}

.w3-text-food-salmon {
  color: #ff796c !important
}

.w3-text-food-spearmint {
  color: #1ef876 !important
}

.w3-text-food-squash {
  color: #f2ab15 !important
}

.w3-text-food-strawberry {
  color: #fb2943 !important
}

.w3-text-food-tomato {
  color: #ec2d01 !important
}

.w3-text-food-wheat {
  color: #fbdd7e !important
}

.w3-text-food-wine {
  color: #80013f !important
}