@import "https://www.w3schools.com/lib/w3-colors-vivid.css";

.w3-text-vivid-pink {
  color: #ffb5bA !important
}

.w3-text-vivid-red {
  color: #be0032 !important
}

.w3-text-vivid-orange {
  color: #f38400 !important
}

.w3-text-vivid-yellow {
  color: #f3c300 !important
}

.w3-text-vivid-green {
  color: #008856 !important
}

.w3-text-vivid-blue {
  color: #00a1c2 !important
}

.w3-text-vivid-black {
  color: #000 !important
}

.w3-text-vivid-white {
  color: #fff !important
}

.w3-text-vivid-purple {
  color: #9a4eae !important
}

.w3-text-vivid-purple {
  color: #9a4eae !important
}

.w3-text-vivid-yellowish-pink {
  color: #ffb7a5 !important
}

.w3-text-vivid-reddish-orange {
  color: #e25822 !important
}

.w3-text-vivid-orange-yellow {
  color: #f6a600 !important
}

.w3-text-vivid-greenish-yellow {
  color: #dcd300 !important
}

.w3-text-vivid-yellow-green {
  color: #8db600 !important
}

.w3-text-vivid-yellowish-green {
  color: #27a64c !important
}

.w3-text-vivid-bluish-green {
  color: #008882 !important
}

.w3-text-vivid-greenish-blue {
  color: #0085a1 !important
}

.w3-text-vivid-purplish-blue {
  color: #30267a !important
}

.w3-text-vivid-reddish-purple {
  color: #870074 !important
}

.w3-text-vivid-purplish-red {
  color: #ce4676 !important
}