<.back navigate={~p"/activities"} class="left">Back to Activities</.back>

<div class="page-heading center">
  New Activity
  <div class="subheading">Use this form to manage activity records in your database.</div>
</div>

<.activity_form changeset={@changeset} action={~p"/activities"} />

<.back navigate={~p"/activities"} class="center">Back to Activities</.back>
