<.back navigate={~p"/activities"} class="left">Back to Activities</.back>

<div class="page-heading">
  Activity #<%= @activity.id %>
  <div class="subheading">This is a activity record from your database.</div>
</div>

<div class="section">
  <.activities_table activities={[@activity]} />
</div>

<.back navigate={~p"/activities"} class="center">Back to Activities</.back>
