<div class="w3-container w3-margin w3-padding">
  <div class="w3-container">
    <h2>Edit Email #<%= @email.id %></h2>
  </div>

  <.email_form
    changeset={@changeset}
    action={~p"/emails/#{@email}"}
    templates_options={@templates_options}
    templates_map={@templates_map}
    client={@client}
  />
</div>
