<div class="w3-container">
  <h2>Emails</h2>
</div>

<div class="w3-container">
  <input
    type="text"
    id="search"
    placeholder="Search ..."
    class="w3-input w3-border"
    style="width:30%"
  />
  <div id="search-results-info" class="w3-serif w3-margin-bottom">
    Showing <span id="search-count"><%= length(@emails) %></span> / <%= length(@emails) %>
  </div>
</div>

<div class="w3-container">
  <.emails_table emails={@emails} />
</div>
