<.back navigate={~p"/emails"} class="back">Back to Emails</.back>

<div class="page-heading center">
  Email #<%= @email.id %>
  <div class="subheading">This is a email record from your database.</div>
</div>

<div class="section">
  <.emails_table emails={[@email]} />
</div>

<.back navigate={~p"/emails"} class="back center">Back to Emails</.back>
