<div class="page-heading center">
  Edit Visit <%= @visit.id %>
  <div class="subheading">Use this form to manage visit records in your database.</div>
</>

<.visit_form changeset={@changeset} action={~p"/visits/#{@visit}"} />

<.back navigate={~p"/visits"} class="back center">Back to visits</.back>
