<.back navigate={~p"/visits"} class={~s"center"}>Back to visits</.back>
<div class="page-heading center">
  New Visit
  <div class="subheading">Use this form to manage visit records in your database.</div>
</div>

<.visit_form changeset={@changeset} action={~p"/visits"} />

<.back navigate={~p"/visits"} class={~s"center"}>Back to visits</.back>
