<.back navigate={~p"/visits"} class={~s"center"}>Back to Visits</.back>

<div class="page-heading">
  Visit #<%= @visit.id %>
  <div class="subtitle">This is a visit record from your database.</div>
</div>

<div class="section">
  <.visits_table visits={[@visit]} />
</div>

<.back navigate={~p"/visits"} class={~s"center"}>Back to Visits</.back>
