<.back navigate={~p"/companies"} class="left">Back to Companies</.back>

<div class="page-heading center">
  New Company
  <div class="subheading">Use this form to manage company records in your database.</div>
</div>

<.company_form changeset={@changeset} action={~p"/companies"} />

<.back navigate={~p"/companies"} class="center">Back to Companies</.back>
