<div class="w3-container w3-margin w3-padding">
  <div class="w3-container">
    <h2>New Company</h2>
  </div>

  <.company_form changeset={@changeset} action={~p"/companies"} users_options={@users_options} />
</div>
