<div class="w3-container">
  <h2>Company</h2>
</div>
<div class="w3-container">
  <.companies_table companies={[@company]} current_user={@current_user} />
</div>

<br /><br />

<div class="w3-container">
  <h3>Clients</h3>
</div>

<div class="w3-container">
  <.clients_table clients={@company.clients} current_user={@current_user} />
</div>
