<div class="w3-container w3-margin w3-padding">
  <div class="w3-container">
    <h2>Edit User #<%= @user.id %></h2>
  </div>
  <.user_form changeset={@changeset} action={~p"/users/#{@user}"} />
</div>
