<.back navigate={~p"/users"} class="back">Back to Users</.back>

<div class="page-heading">
  New User
  <div class="subheading">Use this form to manage user records in your database.</div>
</div>

<.user_form changeset={@changeset} action={~p"/users"} />

<.back navigate={~p"/users"} class="back center">Back to Users</.back>
