<.back navigate={~p"/users"} class="back">Back to Users</.back>

<div class="page-heading">
  User <%= @user.id %>
  <div class="subheading">This is a user record from your database.</div>
  <a href={"/users/#{@user}/edit"} class="button">Edit User</a>
</div>

<.back navigate={~p"/users"} class="back center">Back to Users</.back>
