<.back navigate={~p"/templates"} class="back">Back to Templates</.back>

<div class="page-heading center">
  Edit Template #<%= @template.id %>
  <div class="subheading">Use this form to manage template records in your database.</div>
</div>

<.template_form changeset={@changeset} action={~p"/templates/#{@template}"} />

<.back navigate={~p"/templates"} class="back center">Back to Templates</.back>
