<div class="w3-container w3-margin w3-padding">
  <div class="w3-container">
    <h2>Edit Template #<%= @template.id %></h2>
  </div>

  <.template_form
    changeset={@changeset}
    action={~p"/templates/#{@template}"}
    templates_options={@templates_options}
    templates_map={@templates_map}
  />
</div>
