<div class="page-heading">
  Listing Templates
  <span class="data-point"><span class="data">(<%= length(@templates) %>)</span></span>
  <a href="/templates/new" class="button">+ Add Template</a>
</div>

<div class="section">
  <.templates_table templates={@templates} />
</div>
