<.back navigate={~p"/templates"} class="back">Back to Templates</.back>

<div class="page-heading">
  Template #<%= @template.id %>
  <div class="subheading">This is a template record from your database.</div>
</div>

<div class="section">
  <.templates_table templates={[@template]} />
</div>

<.back navigate={~p"/templates"} class="back">Back to Templates</.back>
